body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: rgb(194, 194, 194);
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    background-image: url(https://cdn.discordapp.com/attachments/1089332210689134722/1089364789857357965/hum_sakura_tree_in_landscape_with_leaf_flying_and_forest_backgr_6eb71ee4-3a00-47f9-86f5-d6be5153c220.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover ;
}
.conteiner-calendario{

    border: 2px ;
    border-radius: 50px;
    border-bottom-right-radius: 250px;

    background-color: white;

    width: 1300px;
    height: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px 50px rgb(0, 0, 0);



}

.resposta{

    margin: 60px 20px;
}

.resposta label{
    font-size: 30px;
    display: block;

    width: 100px;
    padding: 10px 10px;


}

.resposta input{
    border: 1.5px solid rgb(207, 206, 206);
    border-radius: 10px;
    width: 100px;
    height: 100px ;
    font-size: 30px;
    padding: 0 50px;
}

.setor-1{
    display: flex;
    justify-content: space-around;

    width: 1100px;
    margin: 20px 0;
}

.divisao{
    width: 1000px;
    height: 5px;


    border-top-left-radius: 20px ;
    border-bottom-left-radius: 20px ;
    background-color: blueviolet ;
    margin: 0 0 0 20px;
}
.submeter{
    display: flex;
    align-items: center;
    

}
.submeter input{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid blueviolet;
    text-indent: -9999px;
}
.submeter input:hover{
    animation: shake 0.5s;

}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }

}
.setor-2 {
    width: 1100px;
    height: 500px ;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

img{
    width: 70px;
    border-radius: 50%;
}

.setor-2 p{
    color: black;
    font-size: 140px;
    font-weight: 800;
    font-style: italic;



    margin: 10px 0 10px 30px;
    display: inline; 
}

.setor-2 strong{
    color: #8a2be2;
    display: inline;
    font-weight: 800;
    font-size: 120px;

    margin: 0 20px;
}

footer{
    background-color: white;
    height: 200px;
    width: 100%;

}

footer .attribution{
    font-size: 15px;
    display: flex;

    justify-content: center;
    align-items: center;
}


